/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: jack;
    src: url(../fonts/BLACKJAR.TTF);
}


/*HEADER*/

header {
    background-image: url(../img/headerbg.jpg);
    height: 670px;
}

.header button {
    background-color: transparent;
    margin-top: 20px;
    border: none;
    color: white;
}

.fa-3x {
    font-size: 2.2em;
}

.header_text {
    text-align: right;
    margin-bottom: 35px;
}

.header_text h1 {
    font-size: 70px;
    color: #fff;
    font-weight: bold;
    font-family: jack;
}

.header_text p {
    font-size: 38px;
    color: #fff;
    margin-top: 40px;
}

.header_text d {
    font-style: italic;
    font-weight: bolder;
}

.header_content_bar {
    position: relative;
    z-index: 10;
}

.header_content_img {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 5;
}

.download_btn .btn-default {
    background-color: transparent;
    padding: 10px 25px;
    border: 2px solid white;
    color: #fff;
    font-size: 15px;
    margin-top: 18px;
}


/*Start contain_section_top*/

.contain_section_top {
    background: #F4F4F4;
    min-height: 700px;
    z-index: 10;
    position: relative;
}

.feature_text h2 {
    font-size: 40px;
    color: #555555;
    margin-top: 140px;
    margin-bottom: 30px;
}

.feature_text p {
    font-size: 15px;
    color: #7E7E7E;
    margin-bottom: 10px;
}

.phn_img {
    position: absolute;
    right: 0px;
    bottom: -755px;
    z-index: 0;
}

.feature_text blockquote {
    border-left: 4px solid #4EACDD;
}

.feature_text blockquote p {
    font-style: italic;
    font-size: 15px;
}

.features_btn .btn-default {
    background-color: transparent;
    border: 2px solid #49BFA7;
    color: #49BFA7;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    margin: 20px 0px;
}

.features_btn .btn-default i {
    display: inline-block;
    padding-left: 10px;
}


/*End contain_section_top*/


/*Start contain_section_bottom*/

.contain_section_bottom {
    background-color: #FFFFFF;
    min-height: 650px;
    position: relative;
    z-index: 10;
}

.add_img {
    position: absolute;
    left: 0;
    top: 285px;
    bottom: 0;
    z-index: 5;
}

.add_text_group {
    position: absolute;
    left: -166px;
    right: 0;
    width: 100%;
    top: 30px;
}

.add_text h2 {
    font-size: 40px;
    color: #555555;
}

.add_text d {
    font-size: 16px;
    color: #767676;
    font-weight: bold;
}

.add_text p {
    font-size: 16px;
    color: #767676;
    margin-top: 30px;
}

.add_btn .btn-default {
    color: #EA4C89;
    background-color: transparent;
    border: 2px solid #EA4C89;
}


/*End contain_section_bottom*/


/*Start Bannar_section*/

.like_bannar {
    background-image: url(../img/like.jpg);
    background-repeat: no-repeat;
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    z-index: 1000;
    position: relative;
}

.buy_title h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-top: 90px;
}

.buy_btn .btn-default {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 40px;
}


/*Start Bannar_section*/


/* Start Footer Section_top*/

.newsletter {
    min-height: 600px;
    background-color: #F4F4F4;
}

.social_icons {
    text-align: center;
}

.social_icons a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #545454;
    margin-top: 180px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.social_icons a i {
    font-size: 25px;
    color: #545454;
    margin-top: 10px;
}

.newsletter_sub label {
    font-size: 16px;
    font-style: italic;
    margin-right: 18px;
    color: #5D5D5D;
}

.form-control {
    background-color: #fff;
    border-radius: 10px;
    border: 0;
    box-shadow: none !important;
    color: #000;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group-addon {
    border-radius: 10px;
    background-color: #fff;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 2px solid #E9E9E9;
}

.input-group-addon i {
    color: #6EC5EA;
}


/*End Footer Section top*/


/* Start Footer Section €Bottom*/

.footer {
    min-height: 100px;
    background-color: #fff;
    margin-top: 180px;
}

.copyright p {
    font-size: 12px;
    color: #545454;
    text-align: center;
    margin-top: 50px;
}

.copyright d {
    color: #6EC3E8;
}


/*End Footer Section Bottom*/


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
